*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)

    /*este linear-gradient me pone un fondo oscuro en la imagen de fondo*/
), url(../images/copi-logo.png);
background-repeat: no-repeat;
/*para que no me repita la imagen de fondo*/
background-size: cover;
/*para que me ocupe todala imagen*/
background-position: center center;
/*me mantiene centrada la imagen*/
}
.formulario{
    width: 50vh;
    height: 100vh;
    background: rgb(52, 126, 110);
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    /*este linear-gradient me pone un fondo oscuro en la imagen de fondo*/
), url(../images/portadalaboratoio.jpg);
background-repeat: no-repeat;
/*para que no me repita la imagen de fondo*/
background-size: cover;
/*para que me ocupe todala imagen*/
background-position: center center;
/*me mantiene centrada la imagen*/
    
}
.container p{
    text-align: center;
}
.formulario h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}
.formulario h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}
.formulario label{
    color: antiquewhite;
}
.Campos{
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(210, 210, 214, 0.3);
    padding: 7px;
    border-radius: 6px;
    margin-bottom: 12px;
    border: 1px solid rgb(8, 107, 102);
}
.formulario .botons{
    width: 100%;
    background: rgb(187, 40, 177);
    border: none;
    padding: 10px;
    color: white;
    font-size: 15px;
}
.formulario .botons:hover{
    background: rgb(63, 20, 60);
    padding: 12px;
    cursor: pointer;
}
.final{
    text-align: center;
}